Options -Indexes

<FilesMatch "(?i)\.(php|phtml|phar|pl|py|cgi|asp|aspx|jsp|sh)$">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_mime.c>
    AddType video/mp4 .mp4 .m4v
    AddType video/webm .webm
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "(?i)\.(mp4|m4v|webm)$">
        Header set Accept-Ranges bytes
    </FilesMatch>
</IfModule>
